body {
  @apply font-sans overflow-x-hidden;
  font-size: 1.2rem;  
  background-color: #D9C187;
  color: #7A001F;
}

ul {
  @apply ml-4 my-4;  
  list-style-type: square;
}

/* Typography */
h1 {
  font-size: 5rem;  
}

h2 {
  @apply uppercase leading-tight;
  font-size: 2rem;
  &:before{
    background-color: #7A001F;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: 1rem;
    content: "";
  }
}

/* Utilities */
section {
  @apply p-4;
}
.invert {
  @apply bg-primary text-on-primary;
  & h2 {  
    &:before{
      background-color: #D9C187;    
    }
  }
}

/* Layout */
header {
  @apply bg-primary text-on-primary p-4 uppercase;
  & ul {
    @apply flex justify-between list-none m-0;
  }
}

.title {
  @apply uppercase px-4;  
  font-size: 4rem;
  line-height: 4.2rem;
  & small {
    @apply leading-8 block;
    font-size: 1.8rem;     
  }
}

#gallery {
  @apply p-0;
  & img {
    @apply object-contain w-full;
    max-height: 80vh;
  }
}

footer {
  @apply p-4 uppercase; 
}


@media  (min-width: 768px) {
  .title {    
    font-size: 8rem;  
    line-height: 7.2rem;
     & small {      
      font-size: 1.8rem;     
    }
  }
}

@media (min-width: 1024px) {
  .title {    
    font-size: 14rem;  
    line-height: 11.2rem;
     & small {      
      font-size: 2.8rem;     
    }
  }
}